.buttons {
  display: flex;
  /* justify-content: center; */
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  gap: 20px;
}

.button {
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
}
